# Colcon Build Artifacts
Model_ws/build/
Model_ws/install/
Model_ws/log/
ROS_action/build/
ROS_action/install/
ROS_action/log/
whisper2/ros2_ws/build/
whisper2/ros2_ws/install/
whisper2/ros2_ws/log/

# Python cache
**/*.pyc

# Model file
**/*.pt 